In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [6]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://anshikachaurasia2309:TlTlpNx2am1KZeNs@cluster0.5lfbu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [7]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

# 1. project
#  |
# 2. database
#  |
# 3. collection

In [8]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [9]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,67c0ff0ce8f765e4aa3bb75f,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,67c0ff0ce8f765e4aa3bb760,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0

In [10]:
## If you are getting timeout issue

import certifi
client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
# TO CREATE THE DATABASE
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]
# TO INSERT DATA INTO THE COLLECTION
rec = collection.insert_many(data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: Proj1.Proj1-Data index: _id_ dup key: { _id: ObjectId('67c0ff0ce8f765e4aa3bb75f') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('67c0ff0ce8f765e4aa3bb75f')}, 'op': {'id': 1, 'Gender': 'Male', 'Age': 44, 'Driving_License': 1, 'Region_Code': 28.0, 'Previously_Insured': 0, 'Vehicle_Age': '> 2 Years', 'Vehicle_Damage': 'Yes', 'Annual_Premium': 40454.0, 'Policy_Sales_Channel': 26.0, 'Vintage': 217, 'Response': 1, '_id': ObjectId('67c0ff0ce8f765e4aa3bb75f')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}